#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;    
}

.slide {
	padding: 1rem;
}

.slide-enter {
  opacity: 0.01;
  max-height: 0;
  overflow: hidden;
}

.slide-enter-active {
  opacity: 1;
  max-height: 64px;
  overflow: hidden;
  transition: max-height 250ms ease-out, opacity 450ms ease-out 150ms;
}

.slide-exit {
  opacity: 1;
  max-height: 64px;
  overflow: hidden;
}

.slide-exit-active {
  opacity: 0.01;
  max-height: 0;
  overflow: hidden;
  transition: max-height 350ms ease-out, opacity 350ms ease-out;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
}